* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    padding: 10% 7%;
    background-color: #222;
}
.row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 10px;
}
.row-div {
    padding: 40px;
    color: white;
    background-color: #333;
    border-radius: 10px;
    cursor: pointer;
    transition: all .5s;
    letter-spacing: 0.6px;
}
.row-div i {
    font-size: 50px;
    margin-bottom: 20px;
}
.row-div h1 {
    font-weight: 500;
    margin: 20px 0;
}
.row-div p {
    font-size: 14px;
}
.row-div a {
    width: 150px;
    padding: 8px;
    display: block;
    text-align: center;
    margin-top: 20px;
    color: white;
    text-decoration: none;
    border: 2px solid #EEE;
    border-radius: 4px;
}
.row-div:hover {
    transform: translateY(-10px);
    background-color: #ff004f;
}